<footer th:fragment="footer" class="bg-dark text-white pt-5 pb-3" xmlns:th="http://www.thymeleaf.org">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="mb-3">
                        <i class="fas fa-book-reader me-2"></i>EbookStore
                    </h5>
                    <p class="text-light">
                        Thư viện sách điện tử hàng đầu Việt Nam với hơn 10,000+ đầu sách đa dạng thể loại.
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-youtube fa-lg"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <h5 class="mb-3">Danh mục</h5>
                    <ul class="list-unstyled">
                        <li><a href="/category/bcat_1" class="text-light text-decoration-none">Tiểu thuyết</a></li>
                        <li><a href="/category/bcat_2" class="text-light text-decoration-none">Kỹ năng sống</a></li>
                        <li><a href="/category/bcat_3" class="text-light text-decoration-none">Truyện tranh</a></li>
                        <li><a href="/category/bcat_5" class="text-light text-decoration-none">Thiếu nhi</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">Hỗ trợ</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about" class="text-light text-decoration-none">Về chúng tôi</a></li>
                        <li><a href="/help" class="text-light text-decoration-none">Trợ giúp</a></li>
                        <li><a href="/terms" class="text-light text-decoration-none">Điều khoản</a></li>
                        <li><a href="/privacy" class="text-light text-decoration-none">Chính sách</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">Liên hệ</h5>
                    <ul class="list-unstyled text-light">
                        <li><i class="fas fa-map-marker-alt me-2"></i>Hồ CHí Minh, Việt Nam</li>
                        <li><i class="fas fa-phone me-2"></i>0123-456-789</li>
                        <li><i class="fas fa-envelope me-2"></i>support@ebookstore.vn</li>
                    </ul>
                </div>
            </div>
            <hr class="bg-light">
            <div class="text-center">
                <p class="mb-0">&copy; 2025 EbookStore. All rights reserved.</p>
            </div>
        </div>
    </footer>


